<p id="notice"><%= notice %></p>

<p>
	<%= link_to 'Back', homes_path %> |
	<%= link_to 'Edit', edit_home_path(@home) %>
	
</p>

<p>
<%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=#{request.original_url}&choe=UTF-8" %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Latitide:</strong>
  <%= @home.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @home.longitude %>
</p>

<p>
<%= filepicker_image_tag @home.filepicker_url, w: 450, h: 300, fit: 'clip' %>
</p>

<p>
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@home.latitude}%2C#{@home.longitude}" %>
</p>



