<div class="row">
  <div class="col-md-12">
    <h1><%= @home.address %></h1>
    <p><%= link_to "Printable Flyer (PDF)", home_path(@home, format: "pdf") %></p>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><%= image_tag @home.image_outside, :class => "img-responsive" %></p>
  </div>
  <div class="col-md-6">
    <p><%= image_tag @home.image_inside, :class => "img-responsive" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Home Details</h3>
    </div>
      <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Price</td><td>$<%= @home.price %></td>
        </tr>
        <tr>
          <td>Beds</td><td><%= @home.beds %></td>
        </tr>
        <tr>
          <td>Baths</td><td><%= @home.baths %></td>
        </tr>
          <td>House Size</td><td><%= @home.house_size %> square ft.</td>
        <tr>
          <td>Lot Size</td><td><%= @home.lot_size %> acres</td>
        </tr>
        <tr>
          <td>Year Built</td><td><%= @home.year %></td>
        </tr>
      </tbody>
      </table>
    </div>
    <p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=720x400&sensor=false&zoom=15&markers=#{@home.latitude}%2C#{@home.longitude}", :class => "img-responsive" %></p>
  </div>
  <div class="col-md-6">
    <p class="well"><%= @home.description %></p>
    <div class="well">
    <div id = "alert_placeholder"></div>
    <h3>Contact Seller</h3>

    <% if user_signed_in? %>
        <br />
        <div class="field">
    <textarea class="form-control" cols="10" id="messageInput" placeholder="Message"> 
    </textarea>
    <br />
    <button class="btn btn-lg btn-success btn-block" onclick="submit()">Send Message</button>
  </div>
  </div>
  </div>
</div>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script>
  // Get a reference to the root of the chat data.
  var messagesRef = new Firebase('https://homey.firebaseIO.com/users/<%= @home.user_id %>');

  // When the user presses submit on the message input, write the message to firebase.
    function submit(){
      var address = '<%= @home.address %>'
      var name = '<%= current_user.email %>'
      var text = $('#messageInput').val();
      messagesRef.push({address:address, name:name, text:text});
      bootstrap_alert.warning();
      $('#messageInput').val('');
    }

    bootstrap_alert = function() {}
    bootstrap_alert.warning = function() {
            $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>Message Sent</span></div>')
        }
</script>
      <% else %>
      <p class="text-muted">To contact this seller please sign in.</p>
      <p class="text-muted">Don't have an account? <a href="#">Sign up</a></p>
      <button class="btn btn-lg btn-success btn-block" href="/">Sign in</button>
      <br />
      </div>

      <% end %>



    





