<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @home.address %></h3>
  </div>
  <table class="table table-hover table-striped">
    <tbody>
        <tr>
          <td>Price</td><td>$<%= @home.price %></td>
        </tr>
        <tr>
          <td>Beds</td><td><%= @home.beds %></td>
        </tr>
        <tr>
          <td>Baths</td><td><%= @home.baths %></td>
        </tr>
          <td>House Size</td><td><%= @home.house_size %> square ft.</td>
        <tr>
          <td>Lot Size</td><td><%= @home.lot_size %> acres</td>
        </tr>
        <tr>
          <td>Year Built</td><td><%= @home.year %></td>
        </tr>
    </tbody>
  </table>
</div>
  
</div>
  <div class="col-md-6">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x350&sensor=false&zoom=15&markers=#{@home.latitude}%2C#{@home.longitude}", :class => "img-responsive" %>
  </div>
  </div>
  <br />
<div class="row">
  <div class="col-md-12">
    <p class="well"><%= @home.description %></p>
  </div>
</div>
    
    <div class="row">
    <div class="col-md-4">
      <% if @home.filepicker_url.present? %>
          <%= image_tag "#{@home.filepicker_url}", :class => "img-responsive" %>
      <% end %>
    </div>
    <div class="col-md-4">
      image 2
    </div>
    <div class="col-md-4">
      image 3
    </div>
    </div>
<div class="row">
  <div class="col-md-12">
    <p><%= link_to "Printable Flyer (PDF)", home_path(@home, format: "pdf") %></p>
  </div>
</div>




