<div class="row">
  <div class="col-md-12">
    <h1><%= @home.address %></h1>
    <p><%= link_to "Printable Flyer (PDF)", home_path(@home, format: "pdf") %></p>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><%= image_tag @home.image_main_url, :class => "img-responsive" %></p>
  </div>
  <div class="col-md-6">
    <p><%= image_tag @home.image_side_top_url, :class => "img-responsive" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Home Details</h3>
    </div>
      <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Price</td><td>$<%= @home.price %></td>
        </tr>
        <tr>
          <td>Beds</td><td><%= @home.beds %></td>
        </tr>
        <tr>
          <td>Baths</td><td><%= @home.baths %></td>
        </tr>
          <td>House Size</td><td><%= @home.house_size %> square ft.</td>
        <tr>
          <td>Lot Size</td><td><%= @home.lot_size %> acres</td>
        </tr>
        <tr>
          <td>Year Built</td><td><%= @home.year %></td>
        </tr>
      </tbody>
      </table>
    </div>
    <p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=720x400&sensor=false&zoom=15&markers=#{@home.latitude}%2C#{@home.longitude}", :class => "img-responsive" %></p>
  </div>
  <div class="col-md-6">
    <p class="well"><%= @home.description %></p>
    <div class="well">
     <div class="field">
    <h3>Contact Seller</h3>
    <br />
    <label for="home_address">Your Name</label>
    <input class="form-control" id="home_address" name="home[address]" placeholder="George W." type="text" />
  </div>
  <br />
  <div class="field">
    <label for="home_price">Your Email</label>
    <input class="form-control" id="home_price" name="home[price]" placeholder="george@washington.com" type="text" />
    <br />
    <label for="home_price">Message</label>
    <textarea class="form-control" cols="10" id="home_description"> 
    </textarea>
  </div>
  </div>
  </div>
</div>


    





